<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudBot</title>
</head>
<body>
    <div class="container">
        <div class="chatbox">
            <div class="support">
                <div class="header">
                    <div class="studbot_image">
                        <img src="https://github.com/GigaTasoulis/StudBot/blob/main/icon/icon.png?raw=true" alt="" class="src">
                    </div>
                    <div class="chatbox_content">
                        <h4 class="chat_header">StudBot</h4>
                        <p class="chat_description">Χαίρεται, το όνομα μου είναι StudBot, πώς μπορώ να βοηθήσω;</p>
                    </div>
                </div>
                <div class="chatbox_messages">
                    <div class=""></div>
                </div>
                <div class="chatbox_footer">
                    <input type="text">
                    <button class="chatbox_send_button">Send</button>
                </div>
            </div>
        <div class="chatbox_button">
            <!-- <button><img src="vale_to_file_me_to_icon" ></button> Allakse to edw -->
        </div>   
        </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    
</body>
</html>